@media only screen and (max-width : 1280px) {
	
}

@media only screen and (max-width : 992px) {
	.footer-col p {
    padding: 25px 30px 0;}

    video {
		display: none;
	}

	.container-slider {
		background-image: url("../img/slider.jpg");
		background-position: center;	
	}

	.about-us-bcg {
		display: none;
	}

	.foot-bg {
		flex-wrap: wrap;
	}

	.footer-col {
		width: 50%;
	}

	.footer-col:last-child {
		width: 100%;
	}

	.why-england {
		min-height: auto;
		padding-bottom: 100px;
		background-size: cover;
	}

	.our-services {
		margin-top: -45px;
	}

	.our-services-items {
		justify-content: center;
	}

	.navbar {
		position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    background: rgba(0,0,0,.5);
	    display: none;
	}

	.navbar ul {
		display: flex;
	    flex-direction: column;
	}

	.navbar ul li {
		width: 100%;
		text-align: center;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 16px;
	}

	.search {
		display: none;
	}

	.mobile-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 35px;
		height: 35px;
		border-radius: 3px;
		border: 2px solid #fff;
		padding: 4px;
	}

	.mobile-menu span {
		width: 100%;
		height: 2px;
		background-color: #fff;
		display: block;
	}
}	
 
@media only screen and (max-width : 767px) {
	.about-us-text {
	    padding: 11px 70px 100px;
	}
	.our-advantages-items {
        align-items: flex-start;
    }
    .why-england {
    	padding-top: 240px;    
    	min-height: 679px;
	}
	.why-england h2{
		font-size: 34px;
		line-height: 0px;
	}
	.our-services-item{
		margin: 15px auto;
	}
	.footer-col p {
    	padding: 25px 10px 0;
        font-size: 14px;
        line-height: 18px;
	}

	.our-advantages-item {
		width: 50%;
	}


}


@media only screen and (max-width : 480px) {

	.container-slider {
		height: 100vh;
	}

	.slider-text h1 {
		font-size: 20px;
		line-height: 35px;
	}

	a.slide-btn {
		font-size: 14px;
	}

	.about-us-item {
		flex-wrap: wrap;
	}

	.about-us-item a {
		width: 100%;
	}

	.about-us-item a + a,
	.about-us-item + .about-us-item {
		margin-top: 25px;
	}

	.about-us-doing h2, .our-advantages h2, .about-us-text h2, .why-england h2, .our-services h2 {
		font-size: 25px;
		margin-bottom: 30px;
		line-height: 36px;
	}

	.about-us-doing {
		padding: 30px 15px 40px;
	}

	.about-us-text {
		padding: 25px 15px;
	}

	.about-us-text p {
		padding-left: 15px;
	}

	.about-us-text h2 {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
	}

	.our-advantages-item {
		width: 100%;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.our-advantages-item p {
		min-height: auto;
	}

	.why-england-row {
		padding-left: 15px;
		padding-right: 15px;
	}

	.why-england h2 {
		text-align: center;
	}

	.footer-col {
		width: 100%;
	}

	.footer-col:last-child {
		width: 100%;
	}


	.logo img {
		height: 40px;
	}

}

@media only screen and (max-width : 360px) {
	
}