@font-face {
    font-family: SkyFall;
    src: url(fonts/SkyFallDone.ttf);
}
@font-face {
    font-family: MuseoSansBlack;
    src: url(fonts/MuseoSansBlack.ttf);
}
@font-face {
    font-family: MuseoSansBold;
    src: url(fonts/MuseoSansBold.ttf);
}
@font-face {
    font-family: MuseoSansCyrl_2;
    src: url(fonts/MuseoSansCyrl_2.ttf);
}
@font-face {
    font-family: MuseoSansLight;
    src: url(fonts/MuseoSansLight.ttf);
}
@font-face {
    font-family: MuseoSansMedium;
    src: url(fonts/MuseoSansMedium.ttf);
}
@font-face {
    font-family: MuseoSansRegular;
    src: url(fonts/MuseoSansRegular.ttf);
}
body{
	background: rgba(0,0,0,0.0);
}
h1, h2, h3, h4, h5, p, a{
	font-family: MuseoSansRegular;
}
a{
	display: inline-block;
	transition: all .2s ease;
}
.container{
	max-width: 980px;
	margin: 0 auto;
}
.main-wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
header{
	width: 100%;
	display: block;
	position: relative;
}
video{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.main-menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-direction: row;
}
.main-menu ul li{
	padding: 0 9px;
}
.main-menu ul li a{
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
	font-family: MuseoSansBold;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 0.14px;
}
.main-menu ul li a:hover{
	text-decoration: none;
	color: #8b8b8b;
}
.top-menu{
	max-width: 1280px;
    position: fixed;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    z-index: 999;
}
.container-slider{
	position: relative;
	height: 720px;
	width: 100%;
	z-index: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 98px;
}
.container-slider:after{
    content: "";
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}
.col-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-slider img {
    width: 100%;
    object-fit: cover;
}
.slider-text {
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 5;
}
.slider-text h1{
	font-family: SkyFall;
	letter-spacing: 4px;
}
.slider-text p{
	font-family: MuseoSansMedium;
	text-transform: uppercase;
	font-size: 20px;
}
a.slide-btn{
	font-family: MuseoSansMedium;
	text-transform: uppercase;
	font-size: 16px;
	padding: 15px 18px;
    border: 1px solid #fff;
    border-radius: 3px;
    position: relative;
    margin-top: 165px;
    display: inline-block;
    color: #fff;
}
a.slide-btn:hover{
	background: #4b4b4b;
	color: #fff;
	text-decoration: none;
}
a.slide-btn:before{
    content: "";
    position: absolute;
    width: 40px;
    left: 50%;
    bottom: calc(100% + 20px);
    transform: translateX(-50%);
    height: 59px;
    background: url(img/arr-slide.png) no-repeat;
    z-index: 1;
}
.content{
	min-height: 150px;
}
footer {
	font-family: MuseoSansLight;
    background: #000;
    padding: 145px 0px 12px;
    font-size: 16px;
    color: #fff;
}
.footer-container{
	padding-left: 12px;
	padding-right: 12px;
	background-color: #000;
}
.foot-bg {
    display: flex;
	box-sizing: border-box;
	background: url(img/footer-bg.png) bottom center no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
}
.footer-col {
    width: 33.33333%;
    padding: 45px 15px 38px;
    border: 8px solid black;
    min-height: 480px;
    line-height: 1.2;
}
.loc-row, .mail-row, .phone-row, .skype-row{
	background: url(img/location.png) center top no-repeat;
    padding: 52px 0px 0px;
    text-align: center;
}
.footer-row + .footer-row{
	margin-top: 30px;
}
.mail-row{
	background: url(img/email.png) center top no-repeat;
}
.phone-row{
	background: url(img/phone.png) center top no-repeat;
}
.skype-row{
	background: url(img/skype.png) center top no-repeat;
}
.footer-col h3{
	font-family: MuseoSansMedium;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0 0;
}
.footer-col h5{
	font-family: MuseoSansBold;
    font-size: 14px;
    text-align: center;
}
.footer-col form {
    margin: 15px auto;
    max-width: 260px;
}
.footer-form-text, .footer-form-textarea{
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-family: MuseoSansLight;
	font-size: 14px;
	padding: 7px 20px;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0px auto 12px;
	width: 100%;
}
.footer-form-textarea{
	max-height: 110px;
}
.form-group {
    text-align: center;
}
::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder { 
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder {
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #fff;
}
::-ms-input-placeholder { 
   color:    #fff;
}
.social-row {
    display: flex;
    justify-content: space-between;
    padding: 11px 40px;
}
.footer-col p{
	font-family: MuseoSansLight;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.26px;
	padding: 25px 30px 0 72px;
}
.footer-logo {
    text-align: center;
    margin-top: 50px;
}
.footer-logo img {
    max-width: 109px;
}
.about-us{
    min-height: 1270px;
    background-color: #000;
    background-image: url(img/what-about-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-us-doing{
	padding: 85px 15px 100px;
}
.about-us-doing h2, 
.about-us-text h2, 
.why-england h2,
.our-services h2 {
	color: #fff;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	text-align: center;
	margin-bottom: 80px;
}

.why-england h2 {
	margin-bottom: 40px;
}
.about-us-item a{
	width: 247px;
	height: 67px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: MuseoSansLight;
	font-size: 18px;
	font-weight: 400;
	line-height: 24.01px;
	letter-spacing: 0.32px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}
.about-us-item{
	display: flex;
}
.about-us-item + .about-us-item{
	margin-top: 75px;
}
.about-us-item:nth-child(1), 
.about-us-item:nth-child(5){
	justify-content: center;
}
.about-us-item:nth-child(2), 
.about-us-item:nth-child(4){
	max-width: 740px;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
.about-us-item:nth-child(3){
	max-width: 955px;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
.about-us-items{
	position: relative;
}
.about-us-items a:hover{
	background: #4b4b4b;
	transition: all .3s ease;

}
.about-us-bcg{
	position: absolute;
	width: 158px;
	height: 158px;
	border: 10px solid #4b4b4b;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-family: MuseoSansBlack;
	font-size: 34px;
	line-height: 24px;
	text-transform: uppercase;
	border-radius: 50%;
	left: calc(50% - 79px);
	top: calc(50% - 79px);
}
.about-us-text{
	padding: 11px 170px 100px;
}
.about-us-text h2{
	text-align: left;
	padding: 0px 0px 0px 60px;
	margin-bottom: 30px;
}
.about-us-text p{
	font-family: MuseoSansLight;
	font-size: 16px;
	line-height: 20px;
	color:#fff;
	border-left: 1px solid #fff;
	padding: 10px 0px 10px 60px;
}
.our-advantages{
	min-height: 780px;
    background-color: #fff;
    padding: 70px 15px;
}
.our-advantages h2 {
	color: #000;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	text-align: center;
	margin-bottom: 80px;
}
.our-advantages-items{
    display: flex;
    flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-between;
    align-items: center;
}
.our-advantages-item{
	position: relative;
	width: 33.33333%;
    padding: 45px 15px 38px;
    line-height: 1.2;
    text-align: center;
    max-width: 280px;
}
.our-advantages-item img{
	text-align: center;
	align-items: center;
	margin-bottom: 20px;
	width: 140px;
	height: 140px;
	object-fit: cover;
	transition: all .4s ease;
}
.our-advantages-item img:hover{
	opacity: 0.8;
}
.our-advantages-item p{
	text-align: center;
	color: #000;
	font-family: MuseoSansLight;
	font-size: 14px;
	line-height: 17px;
    min-height: 100px;
    display: flex;
}
.why-england{
	min-height: 1012px;
    background-color: #fff;
    background-image: url(img/why_engl.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 400px;
}
.why-england-row{
	position: relative;
	padding: 0px 15px 25px 50px;
	border: 1px solid #fff;
	border-top: none;
	max-width: 710px;
	margin: 0 auto;
}
.why-england-row:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 1px;
	background-color: #fff;
	top: 0;
	left: 0;
}
.why-england-row p{
	color: #fff;
	font-family: MuseoSansLight;
	font-size: 18px;
	line-height: 26px;
}
.our-services{
	margin: -170px auto -70px;
}
.our-services h2{
	color: #fff;
	padding: 0px 15px;
	margin-bottom: 0px;
}
.our-services-item p{
	font-family: MuseoSansBold;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	margin: 0 auto;
	max-width: 250px;
	transition: all 0.4s ease;
}
.our-services-item:hover p {
    transform: translateY(-25px);
}
.our-services-item{
    background-color: #000;
    background-size: cover;
    width: 465px;
    height: 300px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
}
.our-services-items{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.our-services-item {
  	transform: translateY(25px);
  	transition: all .4s ease;
}
.our-services-item a {
	font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #000;
    padding: 15px 10px;
    margin: 50px auto 10px;
    display: inline-block;
    transform: translateY(10px);
    transition: all 0.4s ease;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    opacity: 0;
}

.our-services-item a:hover {
  	background-color: transparent;
}

.our-services-items:hover .item-info{
  	transform: translateY(0);
}

.our-services-item:hover a {
  	opacity: 1;
  	transform: translateY(20px);
}
.our-services-item:hover{
	background-color: #fff;
}
.our-services-item:hover p{
	color: #000;
}
.our-services-item:nth-child(1){
	background-image: url(img/serv-1.png);
}
.our-services-item:nth-child(2){
	background-image: url(img/serv-2.png);
}
.our-services-item:nth-child(3){
	background-image: url(img/serv-3.png);
}
.our-services-item:nth-child(4){
	background-image: url(img/serv-4.png);
}
.our-services-item:nth-child(5){
	background-image: url(img/serv-5.png);
}
.our-services-item:nth-child(6){
	background-image: url(img/serv-6.png);
}
.our-services-item:nth-child(7){
	background-image: url(img/serv-7.png);
}
.our-services-item:nth-child(8){
	background-image: url(img/serv-8.png);
}
.our-advantages-icon{
	width: 145px;
	height: 145px;
	background-color: #231b16;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin: 0 auto 30px;
	display: block;
	cursor: pointer;
	transition: all 0.4s ease;
	position: relative;
}
.our-advantages-item:nth-child(1) .our-advantages-icon{
	background-image: url(img/icons/advant-1-w.png);
}
.our-advantages-item:nth-child(2) .our-advantages-icon{
	background-image: url(img/icons/advant-2-w.png);
}
.our-advantages-item:nth-child(3) .our-advantages-icon{
	background-image: url(img/icons/advant-3-w.png);
}
.our-advantages-item:nth-child(4) .our-advantages-icon{
	background-image: url(img/icons/advant-4-w.png);
}
.our-advantages-item:nth-child(5) .our-advantages-icon{
	background-image: url(img/icons/advant-5-w.png);
}
.our-advantages-item:nth-child(6) .our-advantages-icon{
	background-image: url(img/icons/advant-6-w.png);
}


.our-advantages-icon:after {
	content: "";
	position: absolute;
	width: calc(100% + 36px);
	height: calc(100% + 36px);
	border: 0px solid #574438;
	transition: all 0.4s ease;
	left: -18px;
	top: -18px;
	border-radius: 50%;
}

.our-advantages-icon:hover {
	background-color: #fff;
}

.our-advantages-icon:hover:after{
	border: 18px solid #574438;
}
.our-advantages-item:nth-child(1) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-1-d.png);
}
.our-advantages-item:nth-child(2) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-2-d.png);
}
.our-advantages-item:nth-child(3) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-3-d.png);
}
.our-advantages-item:nth-child(4) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-4-d.png);
}
.our-advantages-item:nth-child(5) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-5-d.png);
}
.our-advantages-item:nth-child(6) .our-advantages-icon:hover{
	background-image: url(img/icons/advant-6-d.png);
}
.btn-send{
	background: transparent;
    border-radius: 5px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: MuseoSansLight;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.32px;
    text-decoration: none;
    text-align: center;
    padding: 12px 20px;
    transition: all .3s ease;
    margin: 0 auto;
}
.btn-send:hover{
    background: #4b4b4b;
}

.mobile-menu {
	display: none;
}